  .container img {
    width: 100%;
    height: auto;
  }
  
    .btn {
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(58, 145, 0);
    color: white;
    font-size: 16px;
    padding: 1px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .btn:hover {
    background-color: black;
  }

  #container {
    height: 100%;
    width: 100%;
    display: flex;
  }
  #leftThing {
    width: 60%;
  }
  #content {
    width: 25%;
  }
  #rightThing {
    width: 15%;
  }

  h1 { font-family: "Bubblegum Sans"; font-size: 30px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; color: rgb(1, 39, 122); } 
  h2 { font-family: "Bubblegum Sans"; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 

  h3 { font-family: "Bubblegum Sans"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; color: rgb(1, 39, 122);} 
  p { font-family: "Bubblegum Sans"; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; color: rgb(66, 66, 66); } 
  blockquote { font-family: "Bubblegum Sans"; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 
  pre { font-family: "Bubblegum Sans"; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }