  .container img {
    width: 100%;
    height: auto;
  }
  
    .btn {
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .btn:hover {
    background-color: black;
  }

  #container {
    height: 100%;
    width: 100%;
    display: flex;
  }
  #leftThing {
    width: 60%;
  }
  #content {
    width: 25%;
  }
  #rightThing {
    width: 15%;
  }